[Unit]
Description=Gunicorn instance to serve AirBnB clone
# start after network is available
After=network.target

[Service]
# run the service under "ubuntu" user
User=ubuntu
# start working on directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
# start gunicorn with three workers.
ExecStart=/path/to/gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb.error.log
# Restart the service if it fails
Restart=always
# Redirect standard output to syslog
StandardOutput=append:/tmp/airbnb-access.log
# Redirect standard error to syslog
StandardError=append:/tmp/airbnb-error.log
# identifier for syslog massager
SyslogIdentifier=gunicorn

[Install]
# Enable the service for multi-user.target
WantedBy=multi-user.target
